@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<Counter increment="2"></Counter>
<Counter increment="4"></Counter>
<Counter increment="5"></Counter>

<SurveyPrompt Title="How is Blazor working for you?" />
